.scslider{
    height: $height-slider;
    width: 100vw;
    position: relative;
    padding-top: 0;
    overflow: hidden;

    &__list{
        height: 100%;
        // width: 100%;

        &-item{
            // width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
    
            .box{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .title{
                    font-family: pb;
                    font-size: 83px;
                    line-height: 83px;
                    color: $primary-color;
                    letter-spacing: 0.2em;
                }
    
                .btnmore--white{
                    display: flex;
                    text-decoration: none;
                    border: 2px solid #fff;
                    width: max-content;
                    align-items: center;
                    margin-top: 35px;
                    padding-left: 50px;
                    padding-right: 42px;
    
                    span{
                        font-family: pb;
                        font-size: 14px;
                        line-height: 38px;
                        letter-spacing: 0.2em;
                        color: #fff;
                        margin-right: 18px;
                    }
    
                    img{
                        height: 9px;
                        max-width: 30px;
                    }
                }
            }
    
            > img{
                min-width: 100%;
                min-height: 100%;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%);
                object-fit: cover;
            }
        }
    }


    &__static{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;

        .container-fluid{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        
        &-number{
            width: max-content;
            display: flex;
            align-items: center;

            .number{
                font-family: pb;
                font-size: 42px;
                line-height: 48px;
                color: $primary-color;
                margin-left: 87px;
                position: relative;

                &::before{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 42px;
                    height: 4px;
                    background-color: $primary-color;
                    left: -87px;
                    top: 50%;
                }
            }

            ul{
                display: flex;
                margin-left: 15px;
                list-style: none;

                li{
                    position: relative;
                    margin-right: 22px;
                    cursor: pointer;

                    &::before{
                        position: absolute;
                        content: "";
                        display: block;
                        width: 9px;
                        height: 9px;
                        background-color: #303030;
                        border-radius: 50%;
                    }

                    &.--active{
                        
                        &::before{
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }

        &-mouse{
            position: absolute;
            left: 50%;
            transform: translate(-50%,-41px);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 60px;

            img:nth-child(2){
                margin-top: 12px;
                width: 9px;
                height: 62px;
                transition: 0.2s linear;
            }

            &:hover{
                img:nth-child(2){
                    transform: translateY(40px);
                    transition: 0.2s linear;
                }
            }
        }

        &-paging{
            display: flex;
            align-items: center;

            div{
                width: 66px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                cursor: pointer;

                &:first-child{
                    transform: rotate(180deg);
                    background-color: $primary-color;
                }

                img{
                    width: 30px;
                    height: 9px;
                    
                }
            }
        }
    }

    @include xs{
        --height-slider: 450px;

        .scslider__list-item{

            .title{
                font-size: 50px;
                letter-spacing: 0.1em;
            }

            .btnmore--white{
                padding: 0px 5px;
                margin-top: 0;
            }
        }

        .scslider__static{

            &-number{

                .number{
                    margin-left: 10px;
    
                    &::before{
                        display: none;
                    }
                }

                ul{
                    display: none;
                }
            }

            &-mouse{
                margin-bottom: 15px;
                transform: translate(-50%,-20px);

                img:first-child{
                    display: none;
                }

                img:nth-child(2){
                    opacity: 0.3;
                }
            }

            &-paging{

                .btn{
                    width: 50px;
                    height: 30px;
                }

                img{
                    width: 25px;
                }

                .--prev{
                    background-color: transparent;
                }
            }
        }
    }
}

.scproduct{

    padding-bottom: 104px;

    &__list{
        padding-top: 20px;

        &-item{
            margin-bottom: 94px;
            display: grid;
            grid-template-columns: 1fr 515px;

            .textbox{
                flex-grow: 1;
                position: relative;
                padding: 72px 70px 46px 95px;
                overflow: hidden;
    
    
                .heading{
                    position: relative;
    
                    &::before{
                        content: "";
                        display: block;
                        height: 2px;
                        width: 81px;
                        background-color: #555555;
                        position: absolute;
                        left: -95px;
                        top: 26px;
                    }
                }
            }
    
            &.--reverse{
    
                .textbox{
                    padding: 72px 95px 46px 70px;
                    text-align: right;
                    order: 1;
    
                    .heading::before{
                        right: -95px;
                        left: initial;
                    }
    
                    .btnmore{
                        justify-content: right;
                    }
                }
            }
        }
    }

    &__video{
        .scproduct__video-textbox{

            .heading{
                text-align: center;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 40px;
                    height: 4px;
                    background-color: #af9b78;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .description{
                text-align: center;
                max-width: 465px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }
        }

        .list__video{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 77px;
            padding-right: 82px;
            margin-top: 60px;

            &-item{
                display: flex;
                flex-direction: column;
                align-items: center;

                &:hover{
                    
                    .circle__video{
                        
                        img{
                            transform: translate(-50%,-50%) scale(1.04);
                            transition: 0.3s linear;
                        }

                    }
                }

                .circle__video{
                        height: 220px;
                        width: 220px;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;

                        padding: 10px;
                        border: 10px solid #fff;
                        box-shadow: 0 0 0 1px #e8e8e8;
    
                        > img{
                            box-sizing: content-box;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: 0.3s linear;
                        }

                        .icon__play{
                            position: absolute;
                            width: 57px;
                            height: 57px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            background-color: rgba(170, 151, 118, 0.6);
                            border-radius: 50%;
                            cursor: pointer;

                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                width: 18px;
                                object-fit: cover;
                            }
                        }
                    }

            }

            span{
                margin-top: 40px;
                position: relative;

                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #aa9776;
                    height: 3px;
                    width: 22px;
                }
            }
        }
    }

    @include sm{
        .scproduct__list{

            &-item{
                // display: block;
                display: flex;
                flex-direction: column-reverse;

                .textbox{
                    .heading{
                        &::before{
                            display: none;
                        }
                    }
                }

                .img{
                    img{
                        width: 100vw;
                    }
                }

                &.--reverse{
                    .img{
                        order: 1;
                    }
                }
            }
        }

        .scproduct__video{

            .list__video{
                flex-direction: column;

                &-item{
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include xs{
        .scproduct__list{

            &-item{

                .textbox{
                    padding: 20px 20px 0px 10px;
                }

                margin-bottom: 40px;
            }
        }

        .scproduct__video{

            .list__video{
                flex-direction: column;

                &-item{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.scvideo{
    background: url(../img/scvideo-background-2.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 0;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha:0.5);
        top: 0;
        z-index: 0;
    }

    .container{
        padding-top: 190px;
        padding-bottom: 190px;
        position: relative;
        z-index: 1;
    }

    .textbox{

        .heading{
            color: $primary-color;
            line-height: 50px;
            letter-spacing: 0.025em;
        }

        .description{
            color: #ffff;
            max-width: 555px;
            margin-top: 21px;
        }
    }

    &__btnwatch{

        border: 2px solid #fff;
        display: flex;
        align-items: center;
        width: max-content;
        padding-left: 56px;
        padding-right: 62px;
        height: 48px;
        cursor: pointer;
        margin-top: 45px;

        span{
            font-family: pb;
            font-size: 12px;
            color: #ffff;
            letter-spacing: 0.2em;
            padding-left: 13px;
        }
    }

    @include xs{
            .container{
                padding-left: 10px;
                padding-right: 10px;

                .textbox{

                    .heading{
                        font-size: 30px;
                    }
                }
            }
    }
}

.scabout{

    padding-bottom: 90px;

    .container{
        display: grid;
        grid-template-columns: 515px 1fr;
    }

    &__textbox{
        margin-left: 70px;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading{
            position: relative;

            &::before{
                content: "";
                display: block;
                width: 80px;
                height: 1px;
                background-color: #666666;
                position: absolute;
                top: 50%;
                left: -109px;
            }
        }

    }

    @include xs{
        .container{
            display: block;

            .textbox{
                padding-left: 10px;
                padding-right: 10px;

                .heading{

                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
}

.scgallery {
    background: black;
    width: 100%;
    padding-bottom: 94px;

    &__textbox{
        
        .description{
            max-width: 445px;
        }
    }

    &__listimg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 11px;
        grid-auto-rows: 200px;
        margin-top: 46px;

        &-item {
            overflow: hidden;
            position: relative;
            
            &:hover{
                
                img{
                    transform: translate(-50%,-50%) scale(1.04);
                    transition: $time-scale-img linear;
                }
            }
            
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: $time-scale-img linear;
            }

            &:nth-child(2) {
                grid-area: 1/2/3/3;
            }

        }
    }
}

.scnews{

    &__textbox{

        .heading{
            color: #000000;
        }

        .description{
            max-width: 440px;
            color: #000000;
        }
    }

    &__tab{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;

        &-item{
            padding: 10px 20px;
            color: #000;
            background-color: #ddd;
            margin-right: 10px;
            cursor: pointer;

            &.--active{
                background-color: $primary-color;
                color: #fff;
            }
        }
    }

    &__list{
        margin-top: 50px;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        &-item{

            .img{
                height: 0;
                padding-bottom: 200px;
                position: relative;
                display: block;
                overflow: hidden;
                
                &:hover{
                    
                    img{
                        transform: translate(-50%,-50%) scale(1.04);
                        transition: $time-scale-img linear;
                    }
                }
                
                img{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    object-fit: cover;
                    transition: $time-scale-img linear;
                }
            }

            .infor{
                margin-top: 55px;
                position: relative;

                &::before{
                    content: "";
                    display: block;
                    height: 3px;
                    width: 83px;
                    background-color: $primary-color;
                    position: absolute;
                    top: -27px;
                    cursor: default;
                }
            
                .title{
                    font-family: pb;
                    font-size: 18px;
                    line-height: 24px;
                    min-height: 48px;
                    position: relative;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    display: block;
                    text-decoration: none;
                    color: #000;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    
                }
                
                .desc{
                    margin-top: 16px;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }

        &.--active{
            display: grid;
        }
    }

    @include xs{
        .container{

            padding-left: 10px;
            padding-right: 10px;

            .scnews__list{

                grid-template-columns: 1fr;
            }
        }
    }
}

.scimg{
    padding-bottom: 90px;
    img{
        margin-right: 15px;
        height: 360px;
    }
}

.backtotop{
    position: fixed;
    padding: 20px 10px;
    background-color: #000;
    color: #fff;
    right: 10px;
    bottom: 80px;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    cursor: pointer;

    &.--active{
        opacity: 1;
        pointer-events: all;
    }
}

.popUpVideo{
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    .popUpVideo__wrapper{
        width: 80%;

        .video{
            position: relative;
            border: 5px solid #fff;
            width: 100%;
            padding-top: 56.25%;
    
            iframe{
                position: absolute;
                top: 0;
            }
    
            .closeBtn{
                cursor: pointer;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(50%,-50%);
                background-color: $primary-color;
                border-radius: 50%;
                border: 5px solid $primary-color;
            }
        }
    }


    &.--active{
        opacity: 1;
        pointer-events: all;
    }
}